:host {
  .book-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 420px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
    min-width: 140px;
  }

}
